.product-details-page {
  position: relative;
  top: 75px;
  display: flex;
  gap: 100px;
  align-items: flex-start;
}
.product-gallery {
  height: 500px;
  display: flex;
  gap: 40px;
}

.gallery-thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  width: 85px;
  height: 500px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.gallery-thumbnails::-webkit-scrollbar {
  display: none;
}

.gallery-thumbnails img {
  cursor: pointer;
  max-width: 80px;
  object-fit: contain;
  max-height: 80px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.gallery-thumbnails img.active-thumbnail {
  border-color: #000;
}

.gallery-thumbnails img {
  width: 200px !important;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.gallery-thumbnails img.active-thumbnail {
  border-color: #000;
}

.main-image-container {
  position: relative;
  width: 575px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-image-container img {
  object-fit: contain;
  max-width: 100%;
  height: 500px;
}

.image-navigation {
  position: absolute;
  top: 50%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.image-navigation button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.image-navigation button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.product-details-page h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-details-page button[data-testid="add-to-cart"] {
  width: 100%;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 15px 25px;
  font-size: 16px;
  background-color: #60cc7c;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-details-page button[data-testid="add-to-cart"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.product-details-page button[data-testid="add-to-cart"]:hover:not(:disabled) {
  background-color: #60cc7c;
}

.product-details-page p {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}
.product-details-info {
  text-align: left;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-details-info h2 {
  font-size: 30px;
}
.product-details-info h3 {
  margin: 5px 0px;
}
.attribute-selector {
  text-align: left;
  margin-bottom: 15px;
}

.attribute-selector label {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.attribute-button {
  min-width: 40px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
}
.attribute-button {
  border: 1px solid transparent;
  transition: border 0.3s ease;
}

.attribute-button.selected {
  border: 1px solid #000;
}

.attribute-button.selected-color {
  border: 1px solid black !important;
}

.color-attribute {
  padding: 0 !important;
  margin: 0 !important;
}
.attribute-button.selected {
  background-color: #000 !important;
  color: #fff !important;
}

.attribute-button:hover {
  border-color: #555;
}
.product-details-page .prices {
  margin-top: 20px;
}

.product-details-page p {
  color: black;
  font-size: 24px;
  font-weight: 400;
  margin: 5px 0;
}
.product-description {
  padding-top: 20px;
}
.product-description p,
h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px !important;
  text-align: left;
  color: #1d1f22;
}
