/* Product List Wrapper */
.product-list {
  position: relative;
  padding: 20px;
}

.product-list h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

/* Product List Grid */
.product-list-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tri kolone */
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  .product-list-ul {
    grid-template-columns: repeat(2, 1fr); /* Dve kolone za srednje ekrane */
  }
}

@media (max-width: 768px) {
  .product-list-ul {
    grid-template-columns: 1fr; /* Jedna kolona za manje ekrane */
  }
}

/* Individual Product Card */
.product-card {
  /* max-width: 400px;
  width: 100%;
  margin: 0 auto; */
  max-width: 400px;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  transition: 0.3s ease;
}

.product-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.product-card:hover .quick-add-button {
  transition: 0.6s ease;
  opacity: 1;
}

/* Link Styling */
.product-link {
  width: 100%;
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}

/* Product Image */
.product-image-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image-card {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.out-of-stock-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.7);
  color: #8d8f9a;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  z-index: 4;
}

/* Product Details */
.product-card h3 {
  font-weight: 400;
  font-size: 18px;
  color: #1d1f22;
  margin: 10px 0 5px;
}

.product-card p {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  color: black;
}

/* Quick Add Button */
.quick-add-button {
  opacity: 0;
  transition: 0.2s ease;
  position: absolute;
  bottom: 60px;
  right: 30px;
  width: 55px;
  height: 55px;
  margin-top: 10px;
  /* padding: 15px; */
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #60cc7c;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.quick-add-button:hover {
  background-color: #008c43;
}

/* Out of Stock Styling */
.out-of-stock {
  filter: grayscale(100%);
  pointer-events: none;
}
